.PCero1 {
  .cell {
    background-color: "[theme:themePrimary, default:#e5e5e5]";
    display: 'inline-block';
  }

  .Rounded {
    height:'25px';
    height:'25px';
    border-radius:'50%';
    display:'inline-block';
    margin-top:'5px';
  }
}
